.story {
  text-align: left;
  margin-top: -30px;
  margin-bottom: 25px;
  color: #444;
  padding: 25px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  p {
    white-space: pre-line;
    margin: 0px;
  }

  h4 {
    margin: 0px;
  }
}

.light-text {
  font-weight: 400;
}

.back-button {
  float: left;
  color: #fff;
}

.day-text {
  font-weight: 200;
}

.day-header {
  color: #F9F9DF;
}


.button-inner {
  color: #fff;
}

.modal-css .ion-page {
  background: #F9F9DF;
}

.link-text {
  //color: #616161;
  //border-bottom: 1px solid #616161;

  color: #E23C45;
  //border-bottom: 1px solid #E23C45;
}


