.scr-text {
  background: #F9F9DF;
  height: 100%;
  white-space: pre-line;
  padding: 16px;
  overflow-y: scroll;
  color: #444;
}

.close-button {
  float: right;
  margin-top: -25px;
  margin-right: -25px;
  color: #444
}

.close-button-container {
  justify-self: end;
}

.video-wrapper {
  display: flex;
  width: 100%;
  height: calc(100% - 64px);
}

.video-container {
  width: 100%;
  align-self: center;
}

.video-iframe {
}

