.play-button {
  margin-top: -45px;
  height: 100px
}

.play-button-img {
  margin-top: 0px;
  width: 70px;
}

.tab-bar-stuff {
  contain: inherit;
  display: none;
}

.io-tabs {
  overflow: visible;
}

.home-tab {
  overflow: visible;
}

.other-buttons {
  color: #88BBBB
}